{% extends "base.html" %}

{% block app_content %}
    <h1>Неожиданная ошибка появилась</h1>
    <p>Администратор уже оповещён. Простите за предоставленные неудобства!</p>
    <p><a href="{{ url_for('index') }}">Назад</a></p>
{% endblock %}
