<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=comment.author.username) }}">
                <img src="{{ comment.author.avatar(70) }}" />
            </a>
        </td>
            <td>
                <a href="{{ url_for('user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
                сказал(а) {{ comment.created_on }}:
                <br>
                {{ comment.comment_text }}
            </td>
        </tr>
</table>