{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf  %}

{% block content %}
  <h1>Привет, {{ current_user.username }}!</h1>
  {% if form %}
  {{ wtf.quick_form(form) }}
  <br>
  {% endif %}
  {% for comment in comments %}
      {% include '_comment.html' %}
  {% endfor %}
  <nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Более новые комментарии
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Более старые комментарии <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
  </nav>
{% endblock %}