{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Зарегистрироваться</h1>
  <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
  </div>
{% endblock %}
