{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1> Пользователь: {{ user.username }}</h1>
                {% if user.about_me %}<p> {{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>В последний раз видели: {{ user.last_seen }}</p>
                {% endif %}
                <p> Ваших подписчиков {{ user.followers.count() }},
                    Ваших подписок {{ user.followed.count() }}.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Изменить профиль</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Подписаться</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Отписаться</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for comment in comments %}
        {% include '_comment.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Более новые комментарии</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Более старые комментарии</a>
    {% endif %}
{% endblock %}
